* {
  margin: 0;
  padding: 0;
}

body {
  color: #333333;
  font-size: 16px;
}

header {
  text-align: center;
  background-image: url("./images/border.png");
  background-repeat: repeat-x;
  background-position: bottom;
  padding: 15px 0;
}

.header__logo {
  max-width: 200px;
  height: auto;
}

.top {
  padding: 20px;
}

.top__title {
  font-size: 16px;
  margin-bottom: 20px;
}

.list__title {
  background-color: #f0f0f0;
  padding: 8px;
  font-weight: bold;
  color: #555555;
  margin: 20px 0;
}

.list__title:first-child {
  margin-top: 0;
}

.list__data li {
  list-style: none;
  display: inline-block;
  margin: 0 20px 12px 0;
}

.prefDetail,
.shopDetail {
  padding: 20px;
}

.prefDetail__banner {
  width: 100%;
  max-width: 818px;
  display: block;
  margin: 0 auto 40px;
}

.prefDetail__title,
.shopDetail__title {
  color: #555555;
  border-bottom: 4px solid #e60012;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 8px;
  margin-bottom: 20px;
}

.prefDetail__desc {
  margin-bottom: 20px;
}

.prefDetail__list {
  margin-bottom: 40px;
}

.prefDetail__list > li {
  margin-bottom: 8px;
  margin-left: 1em;
}

.prefDetail__button {
  width: 100%;
  height: 50px;
  margin-bottom: 40px;
  border-radius: 4px;
  border: solid 2px #666666;
  box-shadow: 0px 2px 2px #ccc;
  background-color: #ffffff;
}

.prefDetail__button a {
  color: #666666;
  text-decoration: none;
  font-weight: bold;
  display: block;
  height: 50px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
}

.shopDetail__imageList {
  list-style: none;
}

.shopDetail__imageList li {
  margin-bottom: 20px;
}

.shopDetail__imageList img {
  width: 100%;
}

.shopDetail__description {
  margin-bottom: 20px;
}

.shopDetail__button {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 2px 2px #ccc;
  background-color: #e60012;
}

.shopDetail__button a {
  display: block;
  height: 50px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.shopDetail__back {
  width: 100%;
  height: 50px;
  margin-bottom: 40px;
  border-radius: 4px;
  border: solid 2px #666666;
  box-shadow: 0px 2px 2px #ccc;
  background-color: #ffffff;
  color: #666666;
  text-decoration: none;
  font-weight: bold;
}
